/**
 * All of the CSS for the public-facing functionality should be included in this file.
 */

 .wpeuc-calc-container {

 }

 .wpeuc-calc-container input {
 	width: 100%;
 }

 .wpeuc-name {
 	font-size: 30px;
 	font-weight: bold;
 	text-align: center;
 }

 .wpeuc-desc {
 	text-align: center;
 	padding: 0 5%;
 }

 .wpeuc-alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.wpeuc-alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.wpeuc-calc-table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
}

.wpeuc-calc-table > tr > th, .wpeuc-calc-table > tr > td {
	border: 1px solid #ddd;
}

.wpeuc-calc-table > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

 #resultArea {
 	text-align: center;
 }

.wpeuc-calc-container .btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.wpeuc-calc-container .btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.wpeuc-calc-container .btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #286090;
  border-color: #122b40;
}

.wpeuc-calc-container .btn-primary:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}

.wpeuc-calc-container .btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.wpeuc-calc-container .btn-success:focus,
.wpeuc-calc-container .btn-success.focus {
  color: #fff;
  background-color: #449d44;
  border-color: #255625;
}

.wpeuc-calc-container .btn-success:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}

.wpeuc-calc-container .btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.wpeuc-calc-container .btn-danger:focus,
.wpeuc-calc-container .btn-danger.focus {
  color: #fff;
  background-color: #c9302c;
  border-color: #761c19;
}

.wpeuc-calc-container .btn-danger:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}

.wpeuc-calc-container .btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}

.wpeuc-calc-container .btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.wpeuc-calc-container .form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.wpeuc-calc-container .form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.wpeuc-calc-container .form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}

.wpeuc-calc-container .form-control:-ms-input-placeholder {
  color: #999;
}

.wpeuc-calc-container .form-control::-webkit-input-placeholder {
  color: #999;
}

.wpeuc-calc-container .form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.wpeuc-calc-container .form-control[disabled],
.wpeuc-calc-container .form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #eee;
  opacity: 1;
}

.wpeuc-calc-container .form-control[disabled],
fieldset[disabled] .form-control {
  cursor: not-allowed;
}